*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f1f5f9;
    font-family:Poppins,sans-serif;
}

.home{

    display:flex;

    min-height:100vh;

    background:#f1f5f9;

}

.main-content{

    flex:1;

    display:flex;

    flex-direction:column;

    padding:25px;

    overflow:hidden;

}

.chat-list{

    flex:1;

    overflow-y:auto;

    margin-top:20px;

    padding-right:5px;

}

/* Scrollbar */

.chat-list::-webkit-scrollbar{

    width:6px;

}

.chat-list::-webkit-scrollbar-thumb{

    background:#cbd5e1;

    border-radius:10px;

}

@media(max-width:900px){

.home{

    flex-direction:column;

}

.main-content{

    padding:15px;

}

}